body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("./img/bg-jap-tn.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 3px 3px 4px black;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
	font-style: Impact, "Arial Black", Arial, Verdana, sans-serif;
	text-align: center;
	text-shadow: 3px 3px 4px black;
    padding: 0.25rem 0;
    font-weight: 600;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.btn-secondary {
    color: rgba(255,255,255,1);
    text-shadow: none;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    box-shadow: 3px 5px 5px 3px black;
    border: 1px #363636 outset;
    
}  

.nav-link.active {
    color : white;
}


.btn:hover {
    transition: 0.4s;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.945);
    color: rgba(0,0,0,1);
} 