body
{
	margin : auto;
    background-color: #e7e7e7;
    background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),url("./img/bg-jap.jpg");
    background-size: cover;
    background-position: center;
    font-style: Impact, "Arial Black", Arial, Verdana, sans-serif;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.7);
}

.navbar {
    background-color: #203961;
	border: 2px black inset;
	font-style: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 1em;
    box-shadow: 8px 8px 8px 8px black;
	
	text-align: center;
	color: #e7e7e7;
	text-shadow: 3px 3px 4px black;
}

.avis {
    text-shadow: 3px 3px 4px black;
}

h1 {
    color:white;
    text-shadow: 3px 3px 4px black;
}
form {
    color:white;
    text-shadow: 2px 2px 3px black;
}


#map{
	border: 1px #363636 outset;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 10px 10px 10px 10px black;

}

.principal{
    padding: 0;
    border: 1px #363636 outset;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 3px 3px 3px black;
}

.image-principale img{
    border: 1px transparent;
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 5px 5px 1px black;
    height: 100%;
    max-height: 300px;
}

.image-principale-index {
    border: 1px transparent;
    border-radius: 20px;
    height: max-content;
}
.image-principale-index img {
    width: max-content;
    border-radius: 20px;
    height: max-content;
    max-height: 350px;
    box-shadow: 1px 5px 5px 1px black;
}

#campgroundCarousel img{
    border: 1px transparent;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 5px 5px 1px black;
    height: 100%;
}

.btn {
    border-radius: 20px;
    box-shadow: 1px 5px 5px 1px black;
    border: 1px #363636 outset;
    font-weight: 350;
	
}

.review {
    border: 1px #363636 outset;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 3px black;
    font-size: 1em;
}
/* #formulaire-cadre {
    border: 1px #363636 solid;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 1px black;
} */



#body {
    border: 1px transparent;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 1px black;
}

.register{
    font-style: Impact, "Arial Black", Arial, Verdana, sans-serif;
    border: 1px #363636 outset;
	border-radius: 20px;
    box-shadow: 3px 3px 3px 3px black;
    color:white;
    text-shadow: 3px 3px 4px black;
    background-color: #363636;
}

.register button {
    width: 100%;
}
